body{
    margin:0px;
    padding: 0px;
}
a{
    text-decoration: none;

}


.header{
    height: 65px;
    width: 100%;

}


.company_intro p{
    float: right;
    color: #fff;
}

/******navigation start********/
nav{
    height: 65px;
    width: 100%;
}
.navbar {
    background: #37474F;

}
nav ul {

}
nav ul li {}
nav ul li a{

}
nav ul li ul{}
.navbar-default .navbar-brand {
    color: #fcf7f7;
}
.navbar-default .navbar-nav > li > a {
    color: #FFC107;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #71d44d;
    background-color: #180b0b1a;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #180b0b1a;
    font-weight: 700;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #E3F1F8;
    color: #843838;
    border-radius: -2px;

}
.dropdown-menu > ul > li > a{
    color: red;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #94AD32;
    background-color: #180b0b1a;
    font-weight: 700;
}


/******navigation end********/

/**content section*/
.content_section{
    min-height: 400px;
}
/*page info*/
.page_info{
    height: 50px;
    width: 100%;
    background: #fcf3f3;
    box-shadow: 0px 1px 0px 1px rgba(195, 182, 182, 0.96);
    margin-bottom: 10px;

}
.page_info_left{
    float: left;
}
.page_info_left h3{
    margin-left: 16px;
    margin-bottom: 3px;
    margin-top: 12px;
}
.page_info_right{
    float: right;
}
.page_info_right .add_new_pro_btn{
    border: 1px solid lightblue;
    padding: 7px;
    margin-top: 6px;
    border-radius: 4px;
    background: #001E83;
    color: #fff;
    font-size: 15px;
    width: 152px;
    height: 36px;
    font-weight: 700;
}

.page_info_right .back_btn{
    padding: 6px;
    margin-top: 6px;
    border-radius: 2px;
    background: #C3C9CE;
    color: #fff;
    font-size: 14px;
    margin-right: 23px;
    font-weight: 700;
    width: 63px;
    color: #000;
    height: 34px;
}

/*add product section*/
.add_product {
    width: 100%;
}
.add_product table{
    width: 100%;
}



/*login form*/
.login_form{

    margin: 2px auto;
    border: 3px solid red;
}
.login_form input[text]{
    text-align: right;
}
.login_form h3{
    text-align: center;
}
.login_form .login_btn{
    width: 200px;
    margin-left: 130px;
}

.form-control{
    border-radius: 0px;
    box-shadow: 0;
}

.form_section{
    border: 1px solid black;
    margin-top: 10px;
    margin: 0 auto;
    box-shadow: 1px 0px 0px 1px green;
    width: 100%;
}
.form_section form{
    width: 100%;
    margin: 0 auto;
    margin-left: 30px;
    padding: 25px;
    margin-bottom: 5px;
}

/*products page*/


/*page title*/
.page_title{
    margin-bottom: 10px;
    border-bottom: 1px solid black;

}
.page_title h4{
    background: #6699ff;
    padding: 10px;
    max-width: 350px;
    color: #fff;
    border-radius: 2px;

}

/*button*/
.btn{
    border-radius: 1px;
}

.add_button{
    background: #66ff66;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    font-size: 18px;
}
.reset_button{
    background: #ffcccc;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    font-size: 18px;
}


/*footer*/
.footer{
    height: 80px;
    background: #269abc;
    color: #fff;
    margin-top: 50px;
}

.footer copyright{
    font-size: 20px;


}
.footer p{
    text-align: center;
    font-size: 16px;
    margin: 0px;
}
.footer .copyright{
    
}